.container {
  margin: 10px 0;
}

.card {
  margin: 0 2% !important;
  width: 250px;
  height: 200px;
}

.infected {
  border-bottom: 10px solid rgba(0, 99, 212, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(20, 223, 20, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 9, 9, 0.5);
}

@media (max-width: 952px) {
  .card {
    margin: 2% 0 !important;
    width: auto;
    height: auto;
  }
}
