body {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 50px;
  margin-top: 10px;
  align-items: center;
}

.heading {
  font-size: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
@media (max-width: 550px) {
  .image {
    width: 40px;
  }

  .heading {
    font-size: 60px;
  }
}
